<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Simpson_CodepathProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EFBBB371D947947002D2C7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EFBBB4B1D947947002D2C7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EFBBB561D947947002D2C7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
